.cart {
  margin-top: 200px;
  position: absolute;
  width: 80%;

  @media (max-width: 800px) {
    width: 100%;
  }

  height: 80%;
  left: 50%;
  transform: translate(-50%, -10%);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  table {
    @media (max-width: 800px) {
      width: 100%;
    }

    border-spacing: 0;
    margin-top: 50px;

    img {
      width: 50px;
    }

    tr {
      display: flex;
      height: 80px;
    }

    tr:nth-child(2) {
      border-top: 1px solid #f00;
    }

    tr:nth-child(1) {
      height: 20px;
      margin-bottom: 40px;

      @media (max-width: 800px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
      }
    }

    th {
      height: 20px;
      border-bottom: 0;
      width: 200px;

      @media (max-width: 800px) {
        width: 50px;
      }
    }

    th:nth-child(1) {
      display: flex;
    }

    td {
      width: 200px;

      @media (max-width: 800px) {
        width: 110%;
        font-size: 10px;
      }

      height: 80px;
      border-bottom: 1px solid #f00;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    td:first-child {
      justify-content: flex-start;
      align-items: center;
      gap: 50px;

      @media (max-width: 800px) {
        gap: 2px; 
      }
    }

    td:nth-child(3) {
      display: flex;
      justify-content: center;
      gap: 10px;

      @media (max-width: 800px) {
        gap: 5px;
      }

      align-items: center;

      button {
        width: 40px;
        height: 30px;
        border-radius: 0.5rem;
        background-color: #fff;
        color: #f00;
        border: 0;
        font-size: 20px;
        border: 2px solid #f00;
      }
    }
  }
}

div.final {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  gap: 20px;
  font-weight: 700;

  button {
    border: 0;
    background-color: #f00;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    font-weight: 600;
  }
}